.gradient-bg {
  background: radial-gradient(ellipse at top left, white 50%, black 100%);
}



  .welcome {
    height: 10vh;
    display: flex;
    justify-content: center; /* Horizontally centers the content */
    align-items: center;
  }

  .welcometext {
    font-family: "pokemon";
    margin-top: 150px;
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  .nav-link-bounce:hover{
    animation: bounce 1s infinite;
  }

  .bouncing-text {
    display: inline-block;
    font-size: 50px;
    animation: bounce 1s infinite;
  }

  .aboutme1 {
    height: 25vh;
    display: flex;
    justify-content: center; /* Horizontally centers the content */
    align-items: center;
    font-family: "pokemon";
  }

  .aboutmesegment {
    height: 25vh;
    display: flex;
    justify-content: center; /* Horizontally centers the content */
    align-items: center;
    font-family: "pokemon";

  }

  .portfolio {
    height: 25vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: "pokemon";
  }

  .portfoliocontent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    text-align: center;
  }

  .hobbiescontent {
    height: 25vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: "pokemon";
  }

  
  .contact1 {
    height: 30vh;
    display: flex;
    justify-content: center; /* Horizontally centers the content */
    align-items: center;
    font-family: "pokemon";
  }

  .contacticon {
    height: 30vh;
    display: flex;
    justify-content: center; /* Horizontally centers the content */
    align-items: center;
    font-family: "pokemon";
  }

  @font-face {
    font-family: "pokemon";
    src: url('../public/pokemonfont/PokemonGb-RAeo.ttf') format('truetype');
  }

  .navbarbackground {
    background-color: whitesmoke;
    font-family: "pokemon";
    font-size:12px;
    height: 5vh;
  }

.navbarname {
  font-size: 15px;
  margin-right: 16px;
}

/* @keyframes jump {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.nav-link-jump:hover {
  animation: bounce 1s;
} */

@font-face {
  font-family: "pokemonpixel";
  src: url('../public/pokemonfont/PokemonPixels1-jYmj.ttf') format('truetype');
}
.pokemonpixel {
  font-family: "pokemonpixel";
  animation: bounce 1s infinite;
  font-size: 50px;
  margin-right: 20px;
  margin-top: 150px;
}

.pokemonpixel3 {
  font-family: "pokemonpixel";
  /* animation: bounce 1s infinite; */
  font-size: 25px;
  
}

.pokemonpixel2 {
  font-family: "pokemonpixel";
  animation: bounce 1s infinite;
  font-size: 50px;
  margin-left: 20px;
  margin-top: 150px;
}
.navlinkpokemon {
  font-family: "pokemonpixel";
  font-size: 30px;
}

/* Technical SKills css */
.technicalskilltext {
  font-family: "pokemon";
  font-size: 15px;
}

.technicalskillcontent {
  font-family: "pokemon";
  font-size: 13px;
  margin-top: 15px;
}